//color in nav
$nav-color-bg:#075094;
$nav-color-a:#f1dc15;
//color text
$color-text:#FFFFFF;
$color-text-black:#000000;
$color-text-yellow:#f1dc15;
$color-text-blue:#075094;
//background color 
$bgyellow:#f1dc15;
$bgblue:#075094;
//color boostrap 
$bstyellow:#ffc107;
$bstblue:#072757;